.stepsBar {
  width: 600px;
  margin: 0 auto 100px auto;
}

.stepOne-form {
  margin: auto;
  max-width: 300px;
}

.stepTwo-form {
  margin: auto;
  width: 600px;
}

.submit-button {
  width: 100%;
}

.title {
  padding: 50px;
}

.title h1 {
  text-align: center;
  font-size: 40px;
  color: rgb(41, 170, 245);
}